openapi: 3.0.3
info:
  title: CAB System API - Driver Module
  description: |
    API dành riêng cho nhóm người dùng Tài xế: Đăng ký/Xác thực, Hồ sơ & phương tiện, Trạng thái sẵn sàng,
    Nhận/từ chối chuyến, Cập nhật trạng thái chuyến và Cập nhật vị trí.

    **Ranh giới module:** thông báo cho tài xế (chuyến mới, thay đổi chuyến - FR-12, FR-24) do Notification module gửi
    (`notification-api.yaml`). Tài xế lấy chi tiết lời mời tại `GET /drivers/{driver_id}/offers` khi mở app hoặc mở thông báo.

    **Phân quyền:** mọi endpoint (trừ đăng ký/đăng nhập/refresh) yêu cầu JWT của tài xế; tài xế chỉ thao tác trên
    tài nguyên của chính mình (`403` nếu vi phạm). Tài khoản bị khóa (`account_status = LOCKED`) nhận `403`.

    **Quy ước truy vết:** các trường mở rộng `x-fr`, `x-br`, `x-ac`, `x-nfr`, `x-sr`, `x-tc` liên kết endpoint với SRS.
  version: "1.1.0"
  contact:
    name: Development Team - Công ty ABC

servers:
  - url: https://api.cabsystem.abc.vn/v1
    description: Production
  - url: https://staging-api.cabsystem.abc.vn/v1
    description: Staging

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Xác thực bằng JWT theo SR-19.

  parameters:
    AuthorizationHeader:
      name: Authorization
      in: header
      required: true
      schema:
        type: string
    ContentTypeHeader:
      name: Content-Type
      in: header
      required: true
      schema:
        type: string
        enum: [application/json]

  responses:
    BadRequest:
      description: "400 Bad Request - Dữ liệu đầu vào không hợp lệ"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: "401 Unauthorized - Chưa xác thực hoặc token không hợp lệ"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Forbidden:
      description: "403 Forbidden - Không phải chủ sở hữu tài nguyên, không được phép, hoặc tài khoản bị khóa"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: "404 Not Found"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Conflict:
      description: "409 Conflict - Xung đột trạng thái hoặc dữ liệu đã tồn tại"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    TooManyRequests:
      description: "429 Too Many Requests - Vượt giới hạn tần suất gọi API"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

  schemas:
    ErrorResponse:
      type: object
      properties:
        error_code: { type: string }
        message: { type: string }
        request_id: { type: string, format: uuid }

    GeoPoint:
      type: object
      required: [latitude, longitude]
      properties:
        latitude: { type: number, format: float }
        longitude: { type: number, format: float }

    AuthTokenResponse:
      type: object
      properties:
        access_token: { type: string }
        refresh_token: { type: string }
        token_type: { type: string, enum: [Bearer] }
        expires_in: { type: integer, description: Thời gian sống của access_token (giây) }
        driver:
          $ref: '#/components/schemas/Driver'

    DriverAvailability:
      type: string
      description: Trạng thái sẵn sàng nhận chuyến (BR-02).
      enum: [AVAILABLE, BUSY, OFFLINE]

    AccountStatus:
      type: string
      enum: [ACTIVE, LOCKED]

    VehicleType:
      type: string
      enum: [bike, car_4_seats, car_7_seats]

    VehicleStatus:
      type: string
      description: Đề xuất - cần chốt giá trị với khách hàng.
      enum: [PENDING_APPROVAL, ACTIVE, LOCKED]

    Vehicle:
      type: object
      properties:
        vehicle_id: { type: string }
        plate_number: { type: string }
        vehicle_type:
          $ref: '#/components/schemas/VehicleType'
        brand: { type: string }
        model: { type: string }
        status:
          $ref: '#/components/schemas/VehicleStatus'

    Driver:
      type: object
      properties:
        driver_id: { type: string }
        full_name: { type: string }
        phone: { type: string }
        license_no: { type: string }
        status:
          $ref: '#/components/schemas/DriverAvailability'
        account_status:
          $ref: '#/components/schemas/AccountStatus'
        rating_avg: { type: number, format: float }
        created_at: { type: string, format: date-time }

    DriverProfile:
      allOf:
        - $ref: '#/components/schemas/Driver'
        - type: object
          properties:
            vehicle:
              allOf:
                - $ref: '#/components/schemas/Vehicle'
              nullable: true

    AvailabilityResult:
      type: object
      properties:
        driver_id: { type: string }
        status:
          $ref: '#/components/schemas/DriverAvailability'
        updated_at: { type: string, format: date-time }

    TripStatus:
      type: string
      description: |
        SEARCHING → DRIVER_ASSIGNED → DRIVER_ARRIVED → IN_PROGRESS → COMPLETED. Nhánh kết thúc khác: CANCELLED, NO_DRIVER_FOUND.
      enum: [SEARCHING, DRIVER_ASSIGNED, DRIVER_ARRIVED, IN_PROGRESS, COMPLETED, CANCELLED, NO_DRIVER_FOUND]

    Trip:
      type: object
      properties:
        trip_id: { type: string }
        pickup_location:
          $ref: '#/components/schemas/GeoPoint'
        dropoff_location:
          $ref: '#/components/schemas/GeoPoint'
        vehicle_type:
          $ref: '#/components/schemas/VehicleType'
        status:
          $ref: '#/components/schemas/TripStatus'
        requested_at: { type: string, format: date-time }
        started_at: { type: string, format: date-time, nullable: true }
        completed_at: { type: string, format: date-time, nullable: true }

    TripOffer:
      type: object
      description: Lời mời chuyến gửi tới tài xế (FR-12).
      properties:
        trip_id: { type: string }
        pickup_location:
          $ref: '#/components/schemas/GeoPoint'
        dropoff_location:
          $ref: '#/components/schemas/GeoPoint'
        vehicle_type:
          $ref: '#/components/schemas/VehicleType'
        distance_to_pickup_km: { type: number }
        offered_at: { type: string, format: date-time }
        expires_at:
          type: string
          format: date-time
          description: Hết hạn phản hồi. Thời gian tài xế phải phản hồi chưa được chốt với khách hàng.

    OfferResult:
      type: object
      properties:
        trip_id: { type: string }
        decision: { type: string, enum: [ACCEPT, REJECT] }
        trip_status:
          $ref: '#/components/schemas/TripStatus'

tags:
  - name: Driver Auth
    description: Đăng ký và xác thực tài xế
  - name: Driver
    description: Hồ sơ, trạng thái, nhận chuyến, cập nhật chuyến và vị trí

paths:
  /drivers/register:
    post:
      tags: [Driver Auth]
      operationId: registerDriver
      summary: Tài xế tự đăng ký tài khoản
      security: []
      x-fr: [FR-09]
      x-br: [BR-01]
      parameters:
        - $ref: '#/components/parameters/ContentTypeHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [full_name, phone, license_no, password]
              properties:
                full_name: { type: string }
                phone: { type: string }
                license_no: { type: string }
                password: { type: string, format: password }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Driver'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          $ref: '#/components/responses/Conflict'

  /drivers/auth/login:
    post:
      tags: [Driver Auth]
      operationId: loginDriver
      summary: Đăng nhập tài xế
      security: []
      x-fr: [FR-09]
      x-br: [BR-01]
      x-nfr: [NFR-05]
      x-sr: [SR-19]
      parameters:
        - $ref: '#/components/parameters/ContentTypeHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [phone, password]
              properties:
                phone: { type: string }
                password: { type: string, format: password }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthTokenResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /drivers/auth/refresh:
    post:
      tags: [Driver Auth]
      operationId: refreshDriverToken
      summary: Làm mới access token
      security: []
      x-nfr: [NFR-05]
      x-sr: [SR-19]
      parameters:
        - $ref: '#/components/parameters/ContentTypeHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refresh_token]
              properties:
                refresh_token: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthTokenResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /drivers/auth/logout:
    post:
      tags: [Driver Auth]
      operationId: logoutDriver
      summary: Đăng xuất và thu hồi refresh token
      x-nfr: [NFR-05]
      x-br: [BR-09]
      parameters:
        - $ref: '#/components/parameters/AuthorizationHeader'
        - $ref: '#/components/parameters/ContentTypeHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refresh_token]
              properties:
                refresh_token: { type: string }
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'

  /drivers/{driver_id}/profile:
    get:
      tags: [Driver]
      operationId: getDriverProfile
      summary: Xem hồ sơ và phương tiện của tài xế
      x-fr: [FR-10]
      x-nfr: [NFR-07]
      parameters:
        - $ref: '#/components/parameters/AuthorizationHeader'
        - name: driver_id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DriverProfile'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags: [Driver]
      operationId: updateDriverProfile
      summary: Cập nhật hồ sơ và phương tiện tài xế
      description: |
        Thay đổi thông tin phương tiện có thể yêu cầu duyệt lại (`Vehicle.status = PENDING_APPROVAL`) theo chính sách doanh nghiệp (chưa chốt).
      x-fr: [FR-10]
      x-br: [BR-09]
      x-nfr: [NFR-07]
      parameters:
        - $ref: '#/components/parameters/AuthorizationHeader'
        - $ref: '#/components/parameters/ContentTypeHeader'
        - name: driver_id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                full_name: { type: string }
                vehicle:
                  type: object
                  properties:
                    plate_number: { type: string }
                    vehicle_type:
                      $ref: '#/components/schemas/VehicleType'
                    brand: { type: string }
                    model: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DriverProfile'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'

  /drivers/{driver_id}/availability:
    patch:
      tags: [Driver]
      operationId: updateDriverAvailability
      summary: Đổi trạng thái sẵn sàng nhận chuyến
      description: |
        Chỉ tài xế ở trạng thái `AVAILABLE` mới nhận được lời mời chuyến (BR-02).
        Trạng thái `BUSY` thường do hệ thống đặt khi tài xế nhận chuyến. Trả `409` khi tài xế đang thực hiện chuyến mà chuyển sang `OFFLINE`.
      x-fr: [FR-11]
      x-br: [BR-02]
      x-tc: [TC-04]
      parameters:
        - $ref: '#/components/parameters/AuthorizationHeader'
        - $ref: '#/components/parameters/ContentTypeHeader'
        - name: driver_id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                status:
                  $ref: '#/components/schemas/DriverAvailability'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailabilityResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'

  /drivers/{driver_id}/offers:
    get:
      tags: [Driver]
      operationId: listDriverOffers
      summary: Xem các lời mời chuyến đang chờ phản hồi
      description: Trả các lời mời chưa hết hạn dành cho tài xế (thường 0 hoặc 1 lời mời tại một thời điểm).
      x-fr: [FR-12]
      x-br: [BR-02, BR-03]
      parameters:
        - $ref: '#/components/parameters/AuthorizationHeader'
        - name: driver_id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/TripOffer'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /trips/{trip_id}/offers/{driver_id}/respond:
    post:
      tags: [Driver]
      operationId: respondTripOffer
      summary: Chấp nhận hoặc từ chối lời mời chuyến
      description: |
        - `ACCEPT`: chuyến chuyển sang `DRIVER_ASSIGNED`, khách hàng được thông báo.
        - `REJECT`: matching tự động mời tài xế tiếp theo, khách hàng không phải đặt lại (BR-03).
        - Không phản hồi trước `expires_at` được xử lý như từ chối.
        Trả `409` khi lời mời đã hết hạn hoặc chuyến đã được tài xế khác nhận.
      x-fr: [FR-12, FR-17]
      x-br: [BR-02, BR-03]
      x-ac: [AC-02]
      x-tc: [TC-02]
      parameters:
        - $ref: '#/components/parameters/AuthorizationHeader'
        - $ref: '#/components/parameters/ContentTypeHeader'
        - name: trip_id
          in: path
          required: true
          schema: { type: string }
        - name: driver_id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [decision]
              properties:
                decision: { type: string, enum: [ACCEPT, REJECT] }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfferResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'

  /drivers/{driver_id}/trips/current:
    get:
      tags: [Driver]
      operationId: getDriverCurrentTrip
      summary: Lấy chuyến đang thực hiện của tài xế
      description: |
        Dùng khi ứng dụng mở lại hoặc có kết nối trở lại để đồng bộ trạng thái chuyến (RISK-08). Trả `404` nếu tài xế không có chuyến đang thực hiện.
      x-fr: [FR-13]
      parameters:
        - $ref: '#/components/parameters/AuthorizationHeader'
        - name: driver_id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Trip'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /trips/{trip_id}/status:
    patch:
      tags: [Driver]
      operationId: updateTripStatus
      summary: Tài xế cập nhật trạng thái chuyến đi
      description: |
        Chuyển trạng thái hợp lệ: `DRIVER_ASSIGNED → DRIVER_ARRIVED → IN_PROGRESS → COMPLETED`.
        `CANCELLED` chỉ được phép trước khi `IN_PROGRESS` và cần `reason`. Chuyển sai thứ tự trả `409`.
        `IN_PROGRESS` gộp hai bước "đã đón khách" và "đang di chuyển" của FR-13.
        Mỗi thay đổi kích hoạt thông báo cho khách hàng (FR-23); `COMPLETED` kích hoạt tính cước.
      x-fr: [FR-13, FR-19, FR-23]
      x-br: [BR-05]
      x-ac: [AC-04, AC-05]
      x-tc: [TC-05, TC-06]
      parameters:
        - $ref: '#/components/parameters/AuthorizationHeader'
        - $ref: '#/components/parameters/ContentTypeHeader'
        - name: trip_id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                status:
                  type: string
                  enum: [DRIVER_ARRIVED, IN_PROGRESS, COMPLETED, CANCELLED]
                reason:
                  type: string
                  description: Bắt buộc khi status = CANCELLED
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Trip'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'

  /drivers/{driver_id}/location:
    post:
      tags: [Driver]
      operationId: updateDriverLocation
      summary: Cập nhật vị trí tài xế thời gian thực
      description: |
        Gửi định kỳ khoảng 3–5 giây/lần (SR-16). Trả `202` vì vị trí được xử lý bất đồng bộ.
        `recorded_at` là thời điểm đo trên thiết bị, cho phép gửi bù dữ liệu khi mất kết nối (RISK-08); bản ghi cũ hơn bản đã lưu sẽ bị bỏ qua.
        Vượt tần suất cho phép trả `429`.
      x-fr: [FR-14]
      x-br: [BR-11]
      x-nfr: [NFR-11]
      x-sr: [SR-15, SR-16]
      x-tc: [TC-16]
      parameters:
        - $ref: '#/components/parameters/AuthorizationHeader'
        - $ref: '#/components/parameters/ContentTypeHeader'
        - name: driver_id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/GeoPoint'
                - type: object
                  properties:
                    heading: { type: number }
                    speed_kmh: { type: number }
                    recorded_at: { type: string, format: date-time }
      responses:
        '202':
          description: Accepted
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'

security:
  - BearerAuth: []
