openapi: 3.0.3
info:
  title: CAB System API - Matching Module
  description: |
    API phục vụ giám sát, kiểm soát và cấu hình hệ thống tìm kiếm, phân công tài xế.

    **Cách hoạt động:** matching được kích hoạt bằng sự kiện khi khách hàng tạo chuyến (`POST /trips` ở customer-api),
    không gọi qua API này (SR-02). Engine chọn tài xế dựa trên vị trí, trạng thái `AVAILABLE` và tiêu chí vận hành (FR-15, FR-16),
    gửi lời mời; nếu tài xế từ chối hoặc không phản hồi thì tự động mời tài xế kế tiếp (FR-17, BR-03).
    Khi hết ứng viên, chuyến chuyển sang `NO_DRIVER_FOUND` và khách hàng được thông báo (FR-18, BR-04).
    Tài xế phản hồi lời mời qua `driver-api.yaml`.

    **Liên hệ trạng thái:** `matching_status` SEARCHING/OFFER_PENDING ↔ `Trip.status = SEARCHING`;
    DRIVER_FOUND ↔ `DRIVER_ASSIGNED`; NO_DRIVER_FOUND ↔ `NO_DRIVER_FOUND`.

    **Chính sách chưa chốt:** tiêu chí ưu tiên tài xế, bán kính tìm kiếm, thời gian tài xế phải phản hồi và số lần thử tối đa
    được đưa vào cấu hình (`/admin/matching/config`) để thay đổi mà không phải sửa code (NFR-10).

    **Quy ước truy vết:** các trường mở rộng `x-fr`, `x-br`, `x-ac`, `x-nfr`, `x-sr`, `x-tc`, `x-roles` liên kết endpoint với SRS.
  version: "1.1.0"

servers:
  - url: https://api.cabsystem.abc.vn/v1
    description: Production
  - url: https://staging-api.cabsystem.abc.vn/v1
    description: Staging

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Xác thực bằng JWT theo SR-19.

  parameters:
    AuthorizationHeader:
      name: Authorization
      in: header
      required: true
      schema: { type: string }
    ContentTypeHeader:
      name: Content-Type
      in: header
      required: true
      schema:
        type: string
        enum: [application/json]

  responses:
    BadRequest:
      description: "400 Bad Request"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: "401 Unauthorized"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Forbidden:
      description: "403 Forbidden - Không phải chủ chuyến hoặc không đủ quyền"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: "404 Not Found"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Conflict:
      description: "409 Conflict - Trạng thái hiện tại không cho phép thao tác"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

  schemas:
    ErrorResponse:
      type: object
      properties:
        error_code: { type: string }
        message: { type: string }
        request_id: { type: string, format: uuid }

    TripStatus:
      type: string
      enum: [SEARCHING, DRIVER_ASSIGNED, DRIVER_ARRIVED, IN_PROGRESS, COMPLETED, CANCELLED, NO_DRIVER_FOUND]

    Trip:
      type: object
      properties:
        trip_id: { type: string }
        status:
          $ref: '#/components/schemas/TripStatus'
        updated_at: { type: string, format: date-time }

    MatchingAttempt:
      type: object
      description: Một lần mời tài xế trong quá trình tìm kiếm.
      properties:
        driver_id: { type: string }
        distance_to_pickup_km: { type: number }
        offered_at: { type: string, format: date-time }
        responded_at: { type: string, format: date-time, nullable: true }
        result:
          type: string
          enum: [PENDING, ACCEPTED, REJECTED, TIMEOUT]

    MatchingStatus:
      type: object
      properties:
        trip_id: { type: string }
        matching_status:
          type: string
          enum: [SEARCHING, OFFER_PENDING, DRIVER_FOUND, NO_DRIVER_FOUND]
        end_reason:
          type: string
          nullable: true
          description: Chỉ có khi matching_status = NO_DRIVER_FOUND
          enum: [CANDIDATES_EXHAUSTED, MANUAL_STOP]
        assigned_driver_id: { type: string, nullable: true }
        attempt_count: { type: integer }
        current_offer:
          allOf:
            - $ref: '#/components/schemas/MatchingAttempt'
          nullable: true
        attempts:
          type: array
          description: Lịch sử các lần mời (dùng để giám sát RISK-04)
          items:
            $ref: '#/components/schemas/MatchingAttempt'
        started_at: { type: string, format: date-time }
        ended_at: { type: string, format: date-time, nullable: true }

    MatchingConfig:
      type: object
      description: Cấu hình vận hành matching. Giá trị cụ thể do khách hàng chốt.
      required: [search_radius_km, offer_timeout_seconds, max_attempts, priority_criteria]
      properties:
        search_radius_km: { type: number, minimum: 0 }
        offer_timeout_seconds:
          type: integer
          minimum: 1
          description: Thời gian tài xế phải phản hồi trước khi bị coi là từ chối
        max_attempts:
          type: integer
          minimum: 1
          description: Số tài xế tối đa được mời cho một chuyến
        priority_criteria:
          type: array
          description: Tiêu chí ưu tiên theo thứ tự từ cao xuống thấp (FR-16)
          items:
            type: string
            enum: [DISTANCE, RATING, ACCEPTANCE_RATE, IDLE_TIME]
        updated_by: { type: string, readOnly: true }
        updated_at: { type: string, format: date-time, readOnly: true }

tags:
  - name: Matching
    description: Giám sát, điều khiển và cấu hình tìm kiếm tài xế

paths:
  /trips/{trip_id}/matching:
    get:
      tags: [Matching]
      operationId: getMatchingStatus
      summary: Xem trạng thái tìm kiếm tài xế
      description: Khách hàng chủ chuyến xem tiến trình tìm tài xế; nhân viên xem thêm lịch sử các lần mời để hỗ trợ và giám sát.
      x-fr: [FR-05, FR-15, FR-17, FR-18]
      x-br: [BR-03, BR-04]
      x-ac: [AC-02, AC-03]
      x-tc: [TC-02, TC-03]
      x-roles: [CUSTOMER, STAFF, ADMIN]
      parameters:
        - $ref: '#/components/parameters/AuthorizationHeader'
        - name: trip_id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MatchingStatus'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /trips/{trip_id}/matching/cancel:
    post:
      tags: [Matching]
      operationId: stopMatching
      summary: Dừng tìm tài xế và chuyển trạng thái NO_DRIVER_FOUND
      description: |
        Thao tác vận hành: nhân viên dừng thủ công quá trình tìm tài xế (ví dụ chuyến bị lỗi). Chuyến chuyển sang `NO_DRIVER_FOUND`
        và khách hàng được thông báo (BR-04). Việc tự dừng khi hết ứng viên do engine xử lý nội bộ, không qua API này.
        Đây KHÔNG phải hủy chuyến của khách hàng (xem `POST /trips/{trip_id}/cancel` ở customer-api).
        Trả `409` nếu đã có tài xế nhận chuyến hoặc quá trình tìm kiếm đã kết thúc. `reason` được ghi vào audit log (BR-09).
      x-fr: [FR-18, FR-28]
      x-br: [BR-04, BR-09]
      x-ac: [AC-03, AC-14]
      x-roles: [STAFF, ADMIN]
      parameters:
        - $ref: '#/components/parameters/AuthorizationHeader'
        - $ref: '#/components/parameters/ContentTypeHeader'
        - name: trip_id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reason]
              properties:
                reason: { type: string, minLength: 5 }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Trip'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'

  /admin/matching/config:
    get:
      tags: [Matching]
      operationId: getMatchingConfig
      summary: Xem cấu hình matching hiện hành
      x-fr: [FR-15, FR-16]
      x-nfr: [NFR-10]
      x-roles: [STAFF, ADMIN]
      parameters:
        - $ref: '#/components/parameters/AuthorizationHeader'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MatchingConfig'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    put:
      tags: [Matching]
      operationId: updateMatchingConfig
      summary: Cập nhật cấu hình matching
      description: Thao tác nhạy cảm, chỉ ADMIN; thay thế toàn bộ cấu hình, áp dụng cho các chuyến mới và được ghi audit log.
      x-fr: [FR-15, FR-16, FR-17, FR-30]
      x-br: [BR-08, BR-09]
      x-ac: [AC-10, AC-14]
      x-nfr: [NFR-10]
      x-roles: [ADMIN]
      parameters:
        - $ref: '#/components/parameters/AuthorizationHeader'
        - $ref: '#/components/parameters/ContentTypeHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MatchingConfig'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MatchingConfig'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

security:
  - BearerAuth: []
