openapi: 3.0.3
info:
  title: CAB System API - Notification Module
  description: |
    API quản lý hộp thông báo của người dùng, đăng ký thiết bị nhận push và cấu hình kênh thông báo.

    **Cách gửi thông báo:** thông báo được tạo bởi sự kiện nghiệp vụ (tiếp nhận yêu cầu, tài xế nhận chuyến, tài xế đến,
    hoàn thành, kết quả thanh toán, không tìm được tài xế, chuyến mới/thay đổi cho tài xế - FR-08, FR-23, FR-24)
    qua message broker (SR-02), không gọi trực tiếp bằng API. Nhà cung cấp bên ngoài: FCM/APNS (SR-08), SMS (SR-07), Email (SR-10).

    **Cô lập lỗi (NFR-03, BR-10):** lỗi của nhà cung cấp thông báo chỉ làm thông báo chuyển `FAILED` và được thử lại,
    không làm gián đoạn chức năng đặt xe.

    **Mở rộng kênh (FR-25, NFR-10):** kênh mới được thêm qua `/admin/notification-channels` mà không phải sửa hệ thống.

    **Phân quyền:** người dùng (khách hàng/tài xế) chỉ xem thông báo của chính mình; loại người nhận được suy ra từ token,
    không nhận từ client. Quản lý kênh chỉ dành cho `ADMIN`.

    **Quy ước truy vết:** các trường mở rộng `x-fr`, `x-br`, `x-ac`, `x-nfr`, `x-sr`, `x-tc`, `x-roles` liên kết endpoint với SRS.
  version: "1.1.0"

servers:
  - url: https://api.cabsystem.abc.vn/v1
    description: Production
  - url: https://staging-api.cabsystem.abc.vn/v1
    description: Staging

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Xác thực bằng JWT theo SR-19.

  parameters:
    AuthorizationHeader:
      name: Authorization
      in: header
      required: true
      schema: { type: string }
    ContentTypeHeader:
      name: Content-Type
      in: header
      required: true
      schema:
        type: string
        enum: [application/json]
    PageParam:
      name: page
      in: query
      required: false
      schema: { type: integer, minimum: 1, default: 1 }
    LimitParam:
      name: limit
      in: query
      required: false
      schema: { type: integer, minimum: 1, maximum: 100, default: 20 }

  responses:
    BadRequest:
      description: "400 Bad Request"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: "401 Unauthorized"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Forbidden:
      description: "403 Forbidden - Không đủ quyền"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: "404 Not Found"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Conflict:
      description: "409 Conflict - Dữ liệu đã tồn tại"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

  schemas:
    ErrorResponse:
      type: object
      properties:
        error_code: { type: string }
        message: { type: string }
        request_id: { type: string, format: uuid }

    Pagination:
      type: object
      properties:
        page: { type: integer }
        limit: { type: integer }
        total_items: { type: integer }
        total_pages: { type: integer }

    NotificationEvent:
      type: string
      description: Sự kiện phát sinh thông báo (FR-08, FR-23, FR-24). Đề xuất, có thể mở rộng.
      enum:
        - TRIP_REQUEST_RECEIVED
        - DRIVER_ASSIGNED
        - DRIVER_ARRIVED
        - TRIP_COMPLETED
        - PAYMENT_RESULT
        - NO_DRIVER_FOUND
        - NEW_TRIP_OFFER
        - TRIP_CHANGED

    Notification:
      type: object
      properties:
        notification_id: { type: string }
        recipient_id: { type: string }
        recipient_type: { type: string, enum: [customer, driver] }
        event_type:
          $ref: '#/components/schemas/NotificationEvent'
        trip_id: { type: string, nullable: true }
        channel: { type: string, example: push }
        content: { type: string }
        status:
          type: string
          enum: [PENDING, SENT, FAILED]
        sent_at: { type: string, format: date-time, nullable: true }
        read_at: { type: string, format: date-time, nullable: true }

    PagedNotifications:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Notification'
        pagination:
          $ref: '#/components/schemas/Pagination'

    DeviceRegistration:
      type: object
      required: [platform, push_token]
      properties:
        platform: { type: string, enum: [IOS, ANDROID, WEB] }
        push_token:
          type: string
          description: Token FCM/APNS của thiết bị
        device_name: { type: string }

    Device:
      type: object
      properties:
        device_id: { type: string }
        platform: { type: string, enum: [IOS, ANDROID, WEB] }
        device_name: { type: string }
        registered_at: { type: string, format: date-time }

    NotificationChannel:
      type: object
      description: Thông tin kênh thông báo. Thông tin xác thực (`config`) không bao giờ được trả về.
      properties:
        channel_id: { type: string }
        channel_name: { type: string, example: sms }
        provider: { type: string, example: Twilio }
        enabled: { type: boolean }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    NotificationChannelList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/NotificationChannel'

tags:
  - name: Notification
    description: Hộp thông báo và đăng ký thiết bị của người dùng
  - name: Notification Channels
    description: Quản lý kênh gửi thông báo (dành cho quản trị)

paths:
  /notifications:
    get:
      tags: [Notification]
      operationId: listNotifications
      summary: Lấy danh sách thông báo của người dùng hiện tại
      description: Trả thông báo của chính người dùng (khách hàng hoặc tài xế) theo token, mới nhất trước.
      x-fr: [FR-23, FR-24]
      x-ac: [AC-08, AC-09]
      x-tc: [TC-09, TC-10]
      x-roles: [CUSTOMER, DRIVER]
      parameters:
        - $ref: '#/components/parameters/AuthorizationHeader'
        - name: event_type
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/NotificationEvent'
        - name: unread_only
          in: query
          required: false
          schema: { type: boolean, default: false }
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedNotifications'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /notifications/{notification_id}/read:
    patch:
      tags: [Notification]
      operationId: markNotificationRead
      summary: Đánh dấu thông báo đã đọc
      x-fr: [FR-23, FR-24]
      x-roles: [CUSTOMER, DRIVER]
      parameters:
        - $ref: '#/components/parameters/AuthorizationHeader'
        - name: notification_id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Notification'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /notifications/devices:
    post:
      tags: [Notification]
      operationId: registerDevice
      summary: Đăng ký thiết bị nhận thông báo đẩy
      description: Đăng ký (hoặc cập nhật nếu token đã tồn tại) push token FCM/APNS cho người dùng hiện tại. Gọi sau khi đăng nhập hoặc khi token thay đổi.
      x-fr: [FR-23, FR-24]
      x-sr: [SR-08]
      x-roles: [CUSTOMER, DRIVER]
      parameters:
        - $ref: '#/components/parameters/AuthorizationHeader'
        - $ref: '#/components/parameters/ContentTypeHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceRegistration'
      responses:
        '200':
          description: OK - token đã tồn tại, thông tin được cập nhật
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Device'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Device'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /notifications/devices/{device_id}:
    delete:
      tags: [Notification]
      operationId: unregisterDevice
      summary: Hủy đăng ký thiết bị (ví dụ khi đăng xuất)
      x-sr: [SR-08]
      x-roles: [CUSTOMER, DRIVER]
      parameters:
        - $ref: '#/components/parameters/AuthorizationHeader'
        - name: device_id
          in: path
          required: true
          schema: { type: string }
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /admin/notification-channels:
    get:
      tags: [Notification Channels]
      operationId: listNotificationChannels
      summary: Danh sách kênh thông báo
      x-fr: [FR-25]
      x-nfr: [NFR-10]
      x-roles: [ADMIN]
      parameters:
        - $ref: '#/components/parameters/AuthorizationHeader'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationChannelList'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      tags: [Notification Channels]
      operationId: createNotificationChannel
      summary: Đăng ký/thêm kênh thông báo mới
      description: |
        Thêm kênh (SMS, push, email, ...) hoặc nhà cung cấp mới mà không thay đổi hệ thống (FR-25).
        `config` chứa thông tin kết nối/xác thực của nhà cung cấp, chỉ ghi, được mã hóa khi lưu (NFR-07) và không bao giờ trả về.
        Trả `409` nếu `channel_name` đã tồn tại. Thao tác được ghi audit log (BR-09).
      x-fr: [FR-25, FR-30]
      x-br: [BR-08, BR-09]
      x-ac: [AC-10, AC-14]
      x-nfr: [NFR-07, NFR-10]
      x-roles: [ADMIN]
      parameters:
        - $ref: '#/components/parameters/AuthorizationHeader'
        - $ref: '#/components/parameters/ContentTypeHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [channel_name, provider, config]
              properties:
                channel_name: { type: string }
                provider: { type: string }
                enabled: { type: boolean, default: true }
                config:
                  type: object
                  writeOnly: true
                  additionalProperties: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationChannel'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'

  /admin/notification-channels/{channel_id}:
    patch:
      tags: [Notification Channels]
      operationId: updateNotificationChannel
      summary: Cập nhật / bật / tắt kênh thông báo
      description: Đổi nhà cung cấp, cấu hình hoặc bật/tắt kênh (ví dụ tắt nhà cung cấp đang lỗi). Thao tác được ghi audit log.
      x-fr: [FR-25, FR-30]
      x-br: [BR-08, BR-09]
      x-ac: [AC-10, AC-14]
      x-nfr: [NFR-03, NFR-10]
      x-roles: [ADMIN]
      parameters:
        - $ref: '#/components/parameters/AuthorizationHeader'
        - $ref: '#/components/parameters/ContentTypeHeader'
        - name: channel_id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                provider: { type: string }
                enabled: { type: boolean }
                config:
                  type: object
                  writeOnly: true
                  additionalProperties: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationChannel'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

security:
  - BearerAuth: []
