openapi: 3.0.3
info:
  title: CAB System API - Customer Module
  description: API dành riêng cho nhóm người dùng Khách hàng (Xác thực, Đặt xe, Theo dõi chuyến đi, Lịch sử và Đánh giá).
  version: "1.0.0"
  contact:
    name: Development Team - Công ty ABC

servers:
  - url: https://api.cabsystem.abc.vn/v1
    description: Production
  - url: https://staging-api.cabsystem.abc.vn/v1
    description: Staging

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Xác thực bằng JWT theo SR-19.

  parameters:
    AuthorizationHeader:
      name: Authorization
      in: header
      required: true
      schema:
        type: string
        example: "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
    ContentTypeHeader:
      name: Content-Type
      in: header
      required: true
      schema:
        type: string
        enum: [application/json]
    IdempotencyKeyHeader:
      name: Idempotency-Key
      in: header
      required: false
      schema:
        type: string
        format: uuid

  responses:
    BadRequest:
      description: "400 Bad Request - Dữ liệu đầu vào không hợp lệ"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: "401 Unauthorized - Chưa xác thực hoặc token không hợp lệ"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Forbidden:
      description: "403 Forbidden - Không đủ quyền thực hiện thao tác"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: "404 Not Found - Không tìm thấy tài nguyên"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    TooManyRequests:
      description: "429 Too Many Requests - Vượt giới hạn tần suất gọi API"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    InternalError:
      description: "500 Internal Server Error - Lỗi hệ thống"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

  schemas:
    ErrorResponse:
      type: object
      properties:
        error_code:
          type: string
        message:
          type: string
        request_id:
          type: string
          format: uuid

    GeoPoint:
      type: object
      required: [latitude, longitude]
      properties:
        latitude:
          type: number
          format: float
        longitude:
          type: number
          format: float

    Customer:
      type: object
      properties:
        customer_id:
          type: string
        full_name:
          type: string
        phone:
          type: string
        email:
          type: string
          format: email

    Trip:
      type: object
      properties:
        trip_id:
          type: string
        customer_id:
          type: string
        driver_id:
          type: string
          nullable: true
        pickup_location:
          $ref: '#/components/schemas/GeoPoint'
        dropoff_location:
          $ref: '#/components/schemas/GeoPoint'
        vehicle_type:
          type: string
          enum: [bike, car_4_seats, car_7_seats]
        status:
          type: string
        eta_minutes:
          type: integer
          nullable: true
        requested_at:
          type: string
          format: date-time
        completed_at:
          type: string
          format: date-time
          nullable: true

tags:
  - name: Auth & Customer
    description: Đăng ký, đăng nhập và quản lý thông tin khách hàng
  - name: Trip Booking & Tracking
    description: Đặt xe, theo dõi, lịch sử và đánh giá chuyến đi

paths:
  /auth/register:
    post:
      tags: [Auth & Customer]
      summary: Đăng ký tài khoản khách hàng
      parameters:
        - $ref: '#/components/parameters/ContentTypeHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [full_name, phone, password]
              properties:
                full_name: { type: string }
                phone: { type: string }
                email: { type: string, format: email }
                password: { type: string, format: password }
      responses:
        '201':
          description: Created
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          description: Conflict

  /auth/login:
    post:
      tags: [Auth & Customer]
      summary: Đăng nhập khách hàng
      parameters:
        - $ref: '#/components/parameters/ContentTypeHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [phone, password]
              properties:
                phone: { type: string }
                password: { type: string, format: password }
      responses:
        '200':
          description: OK
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /customers/{customer_id}:
    get:
      tags: [Auth & Customer]
      summary: Lấy thông tin cá nhân khách hàng
      parameters:
        - $ref: '#/components/parameters/AuthorizationHeader'
        - name: customer_id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags: [Auth & Customer]
      summary: Cập nhật thông tin khách hàng
      parameters:
        - $ref: '#/components/parameters/AuthorizationHeader'
        - $ref: '#/components/parameters/ContentTypeHeader'
        - name: customer_id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                full_name: { type: string }
                email: { type: string, format: email }
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /trips:
    post:
      tags: [Trip Booking & Tracking]
      summary: Tạo yêu cầu đặt xe
      parameters:
        - $ref: '#/components/parameters/AuthorizationHeader'
        - $ref: '#/components/parameters/ContentTypeHeader'
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [pickup_location, dropoff_location, vehicle_type]
              properties:
                pickup_location:
                  $ref: '#/components/schemas/GeoPoint'
                dropoff_location:
                  $ref: '#/components/schemas/GeoPoint'
                vehicle_type:
                  type: string
                  enum: [bike, car_4_seats, car_7_seats]
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Trip'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /customers/{customer_id}/trips:
    get:
      tags: [Trip Booking & Tracking]
      summary: Xem lịch sử chuyến đi của khách hàng
      parameters:
        - $ref: '#/components/parameters/AuthorizationHeader'
        - name: customer_id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: OK
        '401':
          $ref: '#/components/responses/Unauthorized'

  /trips/{trip_id}:
    get:
      tags: [Trip Booking & Tracking]
      summary: Theo dõi trạng thái chuyến đi theo thời gian thực
      parameters:
        - $ref: '#/components/parameters/AuthorizationHeader'
        - name: trip_id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Trip'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /trips/{trip_id}/ratings:
    post:
      tags: [Trip Booking & Tracking]
      summary: Đánh giá tài xế sau chuyến đi
      parameters:
        - $ref: '#/components/parameters/AuthorizationHeader'
        - $ref: '#/components/parameters/ContentTypeHeader'
        - name: trip_id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [score]
              properties:
                score: { type: integer, minimum: 1, maximum: 5 }
                comment: { type: string }
      responses:
        '201':
          description: Created
        '400':
          $ref: '#/components/responses/BadRequest'

security:
  - BearerAuth: []
